<div class="row">
  <div class="col-lg-2">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-group fa-2x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <p class="announcement-heading">85.6</p>
          </div>
          <div class="col-xs-12 text-center">
            <h5>Daily 'first-time' customer traffic</h5>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-8">
              Traffic details
            </div>
            <div class="col-xs-4 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="col-lg-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-heart fa-2x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <p class="announcement-heading">47.8</p>
          </div>
          <div class="col-xs-12 text-center">
            <h5>Daily repeat customer traffic</h5>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-8">
              Traffic details
            </div>
            <div class="col-xs-4 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-clock-o fa-2x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <p class="announcement-heading">15.1</p>
          </div>
          <div class="col-xs-12 text-center">
            <h5>Average time spent per visit (min)</h5>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-8">
              Visit details
            </div>
            <div class="col-xs-4 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12">
            <i class="fa fa-trophy fa-2x"></i>
          </div>  
          <div class="col-xs-12 text-center">
            <h4>Newborn</h4> 
          </div>
          <div class="col-xs-12 text-center">
            <h5>Most popular zone</h5>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-8">
              Zone details
            </div>
            <div class="col-xs-4 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-hand-o-up fa-2x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <p class="announcement-heading">5%</p>
          </div>
          <div class="col-xs-12 text-center">
            <h5>ALD CTR</h5>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-8">
              ALD performance
            </div>
            <div class="col-xs-4 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-map-marker fa-2x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <p class="announcement-heading">2%</p>
          </div>
          <div class="col-xs-12 text-center">
            <h5>ALD store visit rate</h5>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer announcement-bottom">
          <div class="row">
            <div class="col-xs-8">
              ALD performance
            </div>
            <div class="col-xs-4 text-right">
              <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div><!-- /.row -->

